$white : #fff;
$blue-text: #009fe3;
$red : #ff0000;
$blue : #38abe1;
$blue-light :#9ed3ee;
$blue-lighter : #ddf1fc;
$footer-blue : #149dde;
$green : #3aaa35;
$green-light : #e7f2e2;
$green-presets : #afca0b;
$green-icon-question : #3dab38;
$green-icon-question-hover : #c1d641;
$yellow : #f9b000;
$yellow-light : #f1de3f;
$yellow-lighter :#fbf5c5 ;
$grey-input-a : #f4f4f4;
$grey-input-b : #f7f7f7;
$header-blue : rgb(41,120,160);
$header-opacity-blue : rgba(41, 120, 160, 0.5);
$purple : #312783;
$button-grey : #cccccc;
$button-grey-dark: #969696;
$button-grey-light: #eeeeee;
$button-grey-lighter: #f6f6f6;
$text: #343434;
$text-light: #777777;
$text-lighter : #5b5b5f;
$table-blue:#f5fbfe;
$table-green : #e7f2e2;
$table-orange : #fef3d9;
$table-grey : #ededef;
$row-legend : #999;
