.footer{
  width: 100%;
  float: left;
  margin-top: 176px;
  .colaborate{
    height: 132px;
    margin-left: 12%;
    img{
      vertical-align: middle;
      &:first-child{
        margin-right: 60px;
      }
    }
  }
  .copy{
    width: 100%;
    background-color: $footer-blue;
    height: 68px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: table;
    p{
      width: 100%;
      text-align: center;
      color: $white;
      display: table-cell;
      vertical-align: middle;
      a{
        color: $white;
        text-decoration: none;
      }
    }
  }
}
