p{
  color: $text;
  font-size: 16px;
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
/*div{
  box-sizing: border-box;

}*/
.text-white{
  color: $white !important;
}
.text-blue{
  color: $blue !important;
}
.text-red{
  color:$red !important;
}
.text-green{
  color:$green !important;
}
.blue{
  background-color: $blue;
  border-color: $blue !important;
}
.blue-light{
  background-color: $blue-light;
  border-color: $blue-light !important;
}
.yellow-lighter{
  background-color: $yellow-lighter;
  border-color: $yellow-lighter !important;
}
.green-light{
  background-color: $green-light;
  border-color: $green-light !important;
}
.blue-lighter{
  background-color: $blue-lighter;
  border-color: $blue-lighter !important;
}
.bold{
  font-weight: bold;
}

.text-light{
  color: $text-light;
}
.text-light{
  color: $text-lighter;
}
.content{
  width: 100%;
  display: block;
  box-sizing: border-box;
  float: left;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
select::-ms-expand {
    display: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.positivo{
  color:$green;
}
.negativo{
  color:$red;
}