.ie-warning{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color:rgb(111, 14, 14);
  background-color: rgba(111, 14, 14, 0.6);
  > div{
    height: 100%;
    width: 76%;
    margin-left : 12%;
    margin-right : 12%;
    display: block;
    box-sizing: border-box;
    float: left;
    .close-icon{
      background-image: url('../images/close-icon.png');
      height: 31px;
      width: 31px;
      float: right;
      margin-top: -45px;
      cursor: pointer;
    }
    p.text-white{

      height: 100%;
      line-height: 60px;
      text-align: center;

    }
  }

}
